#visContainer {
  position: absolute;
  z-index: 0;
}

#visSvg {
  position: absolute;
  z-index: 1;
}

table.reportTable { 
  width: 100%;
  table-layout: auto;
  opacity: 0;
  transition: opacity 1000ms;
}

table.reportTable.reveal {
  opacity: 1;
}

table.reportTable th {
  word-break: keep-all;
  white-space: nowrap;
}

table.reportTable td {
  word-break: keep-all;
  white-space: normal;
}	
